.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 80px 200px;  
  background-color: #1B3C53;
  padding: 5px;
  gap: 5px;  
}
.container div {
  background-color: #234C6A;
  color:#E3E3E3;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}