.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: #1B3C53;
  padding: 5px;
  gap: 5px;  
}
.container div {
  background-color: #E3E3E3;
  color: #456882;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}